@font-face {
    font-family: "fontello";
    src: url("../fonts/fontello.woff") format('woff');
}
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

#abajo{
	bottom: 17px;
	left: 47%;
	position: absolute;
	border-radius: 40px;
	background: rgba(0, 0, 0, 0.59);
}
#abajo img{
	margin: 12px;
	width: 37px;
}
#abajo a{display: block;}
#abajo:hover{
	background: rgba(0, 0, 0, 0.8);
}

.desc{
	padding: 7px;
	width: 88%;
}
.etapa{
	text-align: center;
	margin: 0 11%;
  	padding: 15px 5px;
  	font-weight: 500;
}
.etapa::before{
	content: '\e867';
	left: 9%;
	position: absolute;
}
.etapa::before,.temario-icono::before{
	border-radius: 20px;
	color: #fff;
	font-family: "fontello";
	font-size: 18px;
	font-style: normal;
	padding: 5px;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	    -ms-transition: 0.5s;
	     -o-transition: 0.5s;
}
.justy{
	text-align:justify;
	font-style: italic;
	font-weight: normal;
}
.temario-desc{
	padding: 0 5px;
	width: 74%;
	vertical-align: middle;
}
.temario-fecha{
	color: rgba(0, 0, 0, 0.35);
	font-size: 15px;
	text-align: right;
	vertical-align: middle;
	width: 23%;
	font-family: Open Sans;
	padding-right: 7px;
	font-style: italic;
}
.temario-icono{
	background: #000;
	margin: 0px 11px 0 11px;
	vertical-align: top;
	width: 3px;
}
.temario-icono::before{
	position: relative;
	content: "\e87d";
	right: 16px;
	top: 17px;
}
#centro{
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
#tacnaemprende .row{padding-bottom: 50px;}
#te-img{margin-top: 50px;}
.activo::before{background: rgb(66, 139, 202);}
.inactivo::before{background: #8e8e8e;}
.temario-icono{height: 103px;}
.temario-desc:hover .temario-icono::before{background: #E22727;}
.temario-fecha,.temario-desc,.temario-icono,.desc{display: inline-block;}




/*#eventos{
	background: #E3E3E3;
	text-align: center;
	padding: 20px 0;
}
#eventos h2{
	color: #777;
  	font-weight: 700;
  	font-family: "Lato", sans-serif;
}
#eventos .elemento{
	background: #fff;
	width: 295px;
	margin: 10px;
	display: inline-block;
	font-family: 'Varela Round', sans-serif;
	-webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
#eventos h3, #eventos p{
	margin-left: 3px; 
	margin-right: 3px; 
}
#eventos h3{
	text-transform:capitalize;
}
#eventos p{
	color: #9b9b9b;
	font-style: italic;
}

#eventos .elemento:hover{
	-webkit-transform: scale(1.04,1.04);
       -moz-transform: scale(1.04,1.04);
        -ms-transform: scale(1.04,1.04);
         -o-transform: scale(1.04,1.04);
            transform: scale(1.04,1.04);
}*/