@font-face {
    font-family: "fontello";
    src: url("../fonts/fontello.woff") format('woff');
}
@import url("http://fonts.googleapis.com/css?family=Montserrat");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
@import url("http://fonts.googleapis.com/css?family=Roboto");

html, body{
	width: 100%;
}
body>*{
	overflow: hidden;
}



#integrantes {
  min-height: 100%;
  min-width: 100%;
}


#abajo{
	bottom: 17px;
	left: 47%;
	position: absolute;
	border-radius: 40px;
	background: rgba(0, 0, 0, 0.59);
}
#abajo img{
	margin: 12px;
	width: 37px;
}
#abajo a{display: block;}
#abajo:hover{
	background: rgba(0, 0, 0, 0.8);
}




#fondoo{
	background: url(../img/integrantes.jpg) no-repeat center center fixed;
    background-size: cover;
	webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#fondoo>div{
	height: 100%;
	width: 100%;
	padding: 14% 0 25% 0;
}
#integrantes{
	padding: 50px 0;
	text-align: center;
}
#integrantes h2{
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}
#integrantes h4{
	margin: 30px 0;
}
#integrantes .oculto{
	display: none;
}
#integrantes article{
	background: rgba(0,0,0,0.4);
	color: #fff;
	display: inline-block;
	font-size: 17px;
	height: 130px;
	margin: 10px;
	overflow: hidden;
	padding: 10px;
	width: 280px;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
#integrantes article:hover{
	background: rgba(255,255,255,0.6);
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}
#integrantes article:hover .negrita{
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 14px;
}
#integrantes .face::before{
	content: "\e838";
	font-family: "fontello";
}
#integrantes>div{
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	margin: 0 auto;
	padding: 10px;
	width: 150px;
}
#integrantes>div:hover{
	background: rgba(255,255,255,0.6);
	color: #444;
}
#integrantes>div>p{
	margin: 0;
}

#justificado p{
	text-align : justify;
	padding: 0 10px
}


#postula{
	background: url(../img/unete.jpg) no-repeat fixed center center;
	background-size: auto 100%;
	height: 102%;
	width: 100%;
	overflow: hidden;
}
#postula section{
	padding: 7% 0;
	position: relative;
	z-index: 1;
}
#postula article{
	text-align: center;
	margin: 0 auto;
}
#postula article:nth-child(1){
	border-radius: 150px;
	border: 5px solid rgba(255,255,255,0.4);
	height: 230px;
	width: 230px;
}
#postula a{color: #fff;}
#postula h2{
	font-size: 35px;
	font-weight: bold;
	position: relative;
	top: 22%;
}
#postula article:nth-child(2){
	background: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.9);
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	letter-spacing: 0.8px;
	margin-top: 65px;
	padding: 25px 15px;
	min-width: 520px;
	width: 55%;
}
#postula aside{
    position: relative;
    top: -100%;
    height: 100%;
}
#postula aside div{
	position: relative;
    top: 18%;
    left: 75%;
    display: block;
    animation-duration: 3s;
	animation-name: volador;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#postula .nube{
	opacity: 0.7;
	position: absolute;
}
#postula>aside>img:nth-child(2){
	height: 30px;
	top: 10%;
	left: 90%;
	animation-duration: 40s;
	animation-name: nuve1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 2s;
}
#postula>aside>img:nth-child(3){
	height: 55px;
	top: 30%;
	left: -5%;
	animation-duration: 15s;
	animation-name: nuve2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#postula>aside>img:nth-child(4){
	height: 40px;
	top: 60%;
	left: 15%;
	animation-duration: 20s;
	animation-name: nuve3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}




@media screen and (min-width: 481px) and (max-width: 767px) {
    #postula{
    	background: url(../img/unete2.jpg) no-repeat fixed center center;
		background-size: 100% 100%;
    }
    #postula article:nth-child(2){
    	min-width: 100%;
    	font-size: 22px;
    	text-align: justify;
    }
}

@media screen and (min-width: 100px) and (max-width: 480px) {
    #postula article:nth-child(2){
		letter-spacing: 0px;
		min-width: 80%;
		width: 100%;
    	font-size: 21px;
    	margin-top: 50px;
    	text-align: justify;
    }
	#postula{
    	background: url(../img/unete3.jpg) no-repeat;
		background-size: 100% 100%;
    }
    #postula aside{top: -85%;}
    #postula>aside>img:nth-child(4){display: none;}
    #postula a{text-decoration: underline;}
    body>nav{
    	font-size: 18px;
    	text-transform: uppercase;
    }
    body>nav li{
    	border-bottom: 1px solid #333;
    	padding-bottom: 14px;
    }
}
@media screen and (max-height: 450px){
	#postula{height: 152%;}
}

@keyframes volador{
  0% {
  	top:18%;
  }
  50% {
  	top:20%;
  }
  100% {
  	top:18%;
  }
}
@keyframes nuve1{
  from {left: -10%;}
  to {left: 100%;}
}
@keyframes nuve2{
  from {left: -40%;}
  to {left: 100%;}
}
@keyframes nuve3{
  from {left: -15%;}
  to {left: 100%;}
}
